body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: 'Aboreto', cursive;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 450px;
    text-align: center;
    box-shadow: 4px 4px 10px #888;
    margin-top: 10px;

}

img {
    width: 450px;
    height: 300px;
    margin: 12px;
    /* transform-origin: right top; */
    transition: all 0.5s;
}

img:hover {
    /* transform: rotate(360deg); */
    transform: scale(1.1);
}

